*{
	margin:0;
	padding: 0;
}


img{
	position: absolute;
	top: 0;
	left: 0;
}

#content{
	max-height: 73vh;
}

#content img {
	max-height: 73vh;
}

#canvas{
	border: 1px solid;
	position: relative;
	z-index: 2;
}

#buttons{
	width: 200px;
	display: flex;
}

#certi{
	position: absolute;
	bottom: 0;
}
